[Unit]  
Description=Funday 
  
[Service]  
ExecStart=/usr/bin/dotnet Funday.dll  
WorkingDirectory=/home/generated-key/Unload.Digital/Funday/Funday/bin/Release/netcoreapp2.1/publish
User=root  
Group=root  
Restart=on-failure  
SyslogIdentifier=Funday
PrivateTmp=true  
  
[Install]  
WantedBy=multi-user.target 