<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Timber.io.NLog" />
  </extensions>

  <targets>
    <!-- Define a new target -->
    <target xsi:type="File" name="allfile" fileName="/var/log/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="allfile" fileName="c:\\logs\\${environment:PROJECT_NAME}\\nlog-all-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target name="logconsole" xsi:type="Console" />
    <target name="timber" type="Timber.io" token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJodHRwczovL2FwaS50aW1iZXIuaW8vIiwiZXhwIjpudWxsLCJpYXQiOjE1Nzk0OTIzOTksImlzcyI6Imh0dHBzOi8vYXBpLnRpbWJlci5pby9hcGlfa2V5cyIsInByb3ZpZGVyX2NsYWltcyI6eyJhcGlfa2V5X2lkIjo2MTMyLCJ1c2VyX2lkIjoiYXBpX2tleXw2MTMyIn0sInN1YiI6ImFwaV9rZXl8NjEzMiJ9.K31zG2zWUS5MIfK7812yXJtwhjog9aB9hnFnNF7SwOg" />
 
  </targets>
  <rules>
    <logger name="*" writeTo="timber" minlevel="Warn" />
    <logger name="*" writeTo="logconsole" minlevel="Warn" />
    
    

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> 

  </rules>
</nlog>