<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Timber.io.NLog" />
  </extensions>

  <targets>
    <!-- Define a new target -->
    <target xsi:type="File" name="allfile2" fileName="/var/log/ForstBite/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="allfile" fileName="c:\\logs\\${environment:PROJECT_NAME}\\nlog-all-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target name="logconsole" xsi:type="Console" />
     
  </targets>
  <rules>
    <logger name="*" writeTo="allfile" minlevel="Info" />
    <logger name="*" writeTo="logconsole" minlevel="Warn" />
    <logger name="*" writeTo="allfile2" minlevel="Info" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> 

  </rules>
</nlog>